<?xml version="1.0"?>
<robot name="multicopter" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find multicopter_description)/urdf/robot.urdf.xacro"/>
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/multicopter</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>

    <plugin name="horus_gazebo_plugin" filename="libhorus_gazebo_plugin.so" />

  </gazebo>
</robot>
